{% extends 'layout.html.twig' %}

{% block navigation %}
    <a href="{{ imagesListUrl }}" class="button">Back to Images List</a>
{% endblock navigation %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/painting.js"></script>
{% endblock scripts %}

{% block content %}
    <table>
        <tr>
            <td>
                <canvas id="painting" width="400" height="300"
                        data-id="{{ imageId }}"
                        data-is-new="{{ isNewImage }}"
                        data-scheme="{{ scheme }}">
                </canvas>
            </td>

            <td class="painting-navigation">
                {% if not isNewImage %}
                    <div class="painting-unlock">
                        Enter password: <input id="password" type="text"/>
                        <span id="painting-unlock" class="button">Unlock</span>
                        <div class="result"></div>
                    </div>
                {% endif %}

                <div id="painting-result" class="{{ isNewImage ? '' : 'hidden' }}">
                    <div class="message"></div>

                    {% if isNewImage %}
                        <span id="painting-create" class="button">Create</span>
                    {% else %}
                        <span id="painting-save" class="button">Save</span>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock content %}
